.apply-now{
    // stylelint-disable
    background-image: url('../../assets/images/plane-front.jpg');
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
    // stylelint-enable
    height: 600px;

    @include media-breakpoint-up(lg) {
        height: 500px;
    }
}

.apply-now__text{
    background-color: $light-theme-color-half-opacity;
    border-radius: $border-radius-minimal;
    color: $white;
    font-family: $font-family-ubuntu;
    font-size: $theme-font-size-mobile;
    margin: 100px 20px;
    padding: 20px 20px 60px;
    position: absolute;
    text-align: center;

    @include media-breakpoint-up(lg) {
        font-size: $theme-font-size-desktop;
        margin: 100px 200px;
        max-width: 666px;
    }
}

.apply-now__title{
    color: $extradark-theme-color;
    font-family: $font-blazma;
    font-size: $theme-font-size-mobile-title;
    text-align: center;
}

.apply-now__link{
    background-color: $extradark-theme-color;
    border-radius: $border-radius-minimal;
    bottom: 0;
    color: $white;
    margin: 15px;
    padding: 10px;
    position: absolute;
    right: 0;
    text-decoration: none;

    &:hover{
        background-color: $white;
        color: $dark-theme-color;
        text-decoration: none;
    }
}