.contacts{
    @include main-section;
}

.contacts-image-container{
    height: 100%;
    position: relative;
}

.contacts__image{
    @include page-main-image;

    object-position: center;
    position: relative;

    @include media-breakpoint-up(lg) {
        position: absolute;
    }
}

.contacts__text{
    @include text-container;

    p:visited{
        color: $white;
    }
}

.contacts__title{
    @include page-main-title;
}

.contacts__subtitle{
    color: $white;
    font-family: $font-blazma;
    font-size: $theme-font-size-mobile-title;
    text-align: center;
}