.contacts{
    @include main-section;
}

.contacts__image{
    @include page-main-image;
}

.contacts__text{
    @include text-container;
}

.contacts__title{
    @include page-main-title;
}

.contacts__subtitle{
    color: $white;
    font-family: $font-blazma;
    font-size: $theme-font-size-mobile-title;
    text-align: center;
}