.navbar{
    background-image: linear-gradient($dark-theme-color, $light-theme-color);
    color: $light-text-color;
    display: block;
    font-family: $font-blazma;
    font-size: $theme-font-size-mobile-navbar;
    position: absolute;
    text-align: center;
    top: -458px;
    transition: 0.3s;
    width: 100%;
    z-index: 1;

    @include media-breakpoint-up(sm) {
        top: -410px;
    }

    @include media-breakpoint-up(lg) {
        display: flex;
        padding: 20px;
        position: relative;
        top: 0;
    }
}

.navbar__items-container{
    padding: 0 70px;
}

.navbar__item{
    align-items: center;
    color: $light-text-color;
    display: block;
    font-weight: bold;
    padding: 10px 0;
    text-align: center;

    &:hover{
        text-decoration: none;
    }

    @include media-breakpoint-up(lg) {
        display: inline-block;
        padding: 0 20px;
    }
}

.navbar__item-bordered{
    background-color: $extradark-theme-color;
    border-radius: $border-radius-just-edges;
    padding: 7px 12px;

    &:hover{
        color: $light-theme-color;
    }
}

.menu-toggle--on{
    content: '';
    // stylelint-disable
    background-image: url('../../assets/list.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-color: $extralight-theme-color;
    // stylelint-enable
    border: 5px solid $light-theme-color;
    border-radius: $border-radius-circle;
    bottom: -30px;
    height: 60px;
    left: 50%;
    position: relative;
    transform: translate(-50%);
    width: 60px;

    @include media-breakpoint-up(lg) {
        display: none;
    }
}

.navbar__icon{
    padding: 20px 0;
}

.navbar__icon-text{
    @include media-breakpoint-up(lg) {
        display: inline;
    }
}