.join-us{
    display: grid;
    grid-template-rows: 40% 60%;
    height: 600px;

    @include media-breakpoint-up(lg) {
        grid-template-columns: 50% 50%;
        grid-template-rows: auto;
        height: 500px;
    }
}

.join-us__image{
    display: inline-block;
    height: 100%;
    object-fit: cover;
    position: relative;
    width: 100%;
}

.join-us__text{
    background-color: $dark-theme-color;
    color: $white;
    display: inline-block;
    font-family: $font-family-ubuntu;
    font-size: $theme-font-size-mobile;
    order: 2;
    padding: 20px;
    position: relative;
    text-align: center;
    width: 100%;

    @include media-breakpoint-up(lg) {
        font-size: $theme-font-size-desktop;
        order: 0;
        padding: 100px;
    }
}

.join-us__title{
    color: $white;
    font-family: $font-blazma;
    font-size: $theme-font-size-mobile-title;
    margin-bottom: 30px;
    text-align: center;
}

.join-us__link{
    background-color: $white;
    border-radius: $border-radius-just-edges;
    color: $dark-theme-color;
    left: 50%;
    margin-top: 40px;
    padding: 10px;
    position: absolute;
    text-decoration: none;
    transform: translate(-50%);

    &:hover{
        background-color: $extralight-theme-color;
        text-decoration: none;
    }

    @include media-breakpoint-up(lg) {
        margin-top: 60px;
    }
}