.join-us{
    @include main-section;
}

.join-us__image{
    display: inline-block;
    height: 100%;
    object-fit: cover;
    position: relative;
    width: 100%;
}

.join-us__text-container{
    @include text-container;
}

.join-us__title{
    color: $white;
    font-family: $font-blazma;
    font-size: $theme-font-size-mobile-title;
    margin-bottom: 30px;
    text-align: center;
}

.join-us__text{
    margin-bottom: 30px;
}

.join-us__link{
    @include link-button;
}