.services{
    // stylelint-disable
    background-color: $white;
    // stylelint-enable
    font-family: $font-family-ubuntu;
    position: relative;
    width: 100%;
}

.services__title{
    color: $dark-theme-color;
    font-family: $font-blazma;
    font-size: $theme-font-size-mobile-title;
    margin: 20px 0;
    text-align: center;
}

.services__subtitle{
    font-family: $font-blazma;
    margin-bottom: 50px;

    @include media-breakpoint-up(lg) {
        font-size: $theme-font-size-mobile-title;
    }
}

.services__menu{
    display: flex;
    height: 600px;
    justify-content: center;
    justify-items: center;
    overflow: hidden;
    position: relative;

    .services__text{
        background-color: $dark-theme-color;
        color: $white;
        font-size: $theme-font-size-mobile;
        margin: 20px;
        margin-bottom: 50px;
        padding: 35px;
        position: absolute;
        text-align: center;
        transition: 0.5s;
        width: calc(100% - 40px);
    
        @include media-breakpoint-up(lg) {
            font-size: $theme-font-size-desktop;
            max-width: 666px;
        }
    }
    
    .services__text-exterior{
        left: 50%;
    }
    
    .services__text-interior{
        left: 100%;
    }
    
    .services__text-repairs{
        left: 200%;
    }

    .services__text-active{
        left: 50%;
        transform: translate(calc(-50% - 20px));
    }
}

.services__buttons{
    display: flex;
    justify-content: space-evenly;
}

.services__icon{
    border: solid 3px $dark-theme-color;
    border-radius: $border-radius-circle;
    display: block;
    height: 70px;
    margin-bottom: 50px;
    position: relative;
    transition: 0.5s;
    width: 70px;

    &:hover{
        background-color: $light-theme-color;
    }

    &:focus{
        outline: none;
    }

    @include media-breakpoint-up(lg) {
        height: 90px;
        width: 90px;
    }
}

.services__icon-active{
    background-color: $dark-theme-color;
    height: 90px;
    margin-bottom: 0;
    width: 90px;

    &:hover{
        background-color: $dark-theme-color;
    }

    @include media-breakpoint-up(lg) {
        height: 110px;
        width: 110px;
    }
}

.exterior{
    &::after{
        // stylelint-disable
        background-image: url('../../assets/paint.svg');
        background-size: cover;
        // stylelint-enable
        content: '';
        display: inline-block;
        height: 50px;
        left: 50%;
        position: absolute;
        top: 50%;
        transform: translate(-50%, -50%);
        width: 50px;

        @include media-breakpoint-up(lg) {
            height: 60px;
            width: 60px;
        }
    }
}

.interior{
    &::after{
        // stylelint-disable
        background-image: url('../../assets/couch.svg');
        background-size: cover;
        // stylelint-enable
        content: '';
        display: inline-block;
        height: 50px;
        left: 50%;
        position: absolute;
        top: 50%;
        transform: translate(-50%, -50%);
        width: 50px;

        @include media-breakpoint-up(lg) {
            height: 60px;
            width: 60px;
        }
    }
}

.repairs{
    &::after{
        // stylelint-disable
        background-image: url('../../assets/repairs.svg');
        background-size: cover;
        // stylelint-enable
        content: '';
        display: inline-block;
        height: 50px;
        left: 50%;
        position: absolute;
        top: 50%;
        transform: translate(-50%, -50%);
        width: 50px;

        @include media-breakpoint-up(lg) {
            height: 60px;
            width: 60px;
        }
    }
}