<section class="about">
    <div class="about__text">
        <h2 class="about__title">About us</h2>
        <p>
            Our company provides professional painters and PA (paint assistance) for Lufthansa Technik Sofia since 2009.
            Some of our crew members are working on projects of Lufthansa Technik Malta.
            <br>
            We employ over 60 highly qualified people, who are mainly trained in Bulgaria, Hungary, Romania and in Ireland to deliver a premium quality.
        </p>
    </div>
    <img class="about__image" src="../../assets/images/plane-sky.jpg" alt="plane-sky">
</section>