<section class="apply" id="apply">
    <div class="apply-text-container">
        <div>
            <h3 class="apply-title">Join our team!</h3>
            <p class="apply-text">
                We are always looking for new candidates! 
                Every position is open and requires no previous training at all.
                Simply send us your CV or fill in our short form.
            </p>
            <a class="apply-button menu-toggle" href="javascript:;" title="Apply now">Apply now</a>
        </div>
    </div>
    <div class="apply-hidden-container">
        <img class="apply-image" width="1920" height="1234" src="../../assets/images/plane-front.jpg" alt="plane-front">
        <div class="apply-menu">
            <p class="apply-text">Go to our Jobs.bg page and check our jobs offers.</p>
            <a class="apply-button" href="https://www.jobs.bg/en/company/301834" target="_blank" title="jobs.bg/planeassistance">Apply in Jobs.bg</a>
            <p class="apply-text">Or simply send us your CV and we'll give you the perfect job offer.</p>
            <button class="apply-button" disabled>Upload CV</button>
        </div>
    </div>
</section>