<section class="apply">
    <div class="apply__menu">
        <button class="apply__button" disabled>Upload CV</button>
        <button class="apply__button apply__button-form--toggle" disabled>Fill in form</button>
        <a class="apply__button" href="https://www.jobs.bg/en/company/301834" target="_blank" title="jobs.bg/planeassistance">Apply in Jobs.bg</a>
    </div>
    <form class="apply__form">
        <button class="form__item form__item-close" type="button">Close</button><br>
        <input class="form__item" type="text" id="fullName" name="fullName" placeholder="Full Name"><br>
        <input class="form__item" type="text" id="lname" name="lname" placeholder="Phone number '+359 ...'"><br>
        <label for="experience">Do you have previous expreience in the field?</label>
        <input class="form__item" type="checkbox" id="expreience" name="experience"><br>
        <textarea class="form__item" type="text" id="lname" name="lname" placeholder="other"></textarea><br>
        <button class="form__item" type="submit">Submit</button>
    </form>
</section>