<section class="contacts" id="contacts">
    <div class="contacts__text">
        <h2 class="contacts__title">Contacts</h2>
        <h3 class="contacts__subtitle">Email:</h3>
        <p>info@planeassistance.com</p>
        <h3 class="contacts__subtitle">Phone number:</h3>
        <a href="tel:+359 88 7865451">+359 88 7865451</a>
    </div>
    <div class="contacts-image-container">
        <img class="contacts__image" width="1920" height="1440" src="../../assets/images/airport-tower.jpg" alt="plane-sky">
    </div>
</section>