<header>
    <nav class="navbar">
        <div class="navbar__icon">
            <img src="../../assets/images/paper-plane.png" width="80px" height="80px" alt="paper-plane">
            <h1 class="navbar__icon-text">plane assisstance</h1>
        </div>
        <div class="navbar__items-container">
            <a href="index.html" title="Home" class="navbar__item">Home</a>
            <a href="javascript:;" title="Contacts" class="navbar__item">Contacts</a>
            <a href="about-us.html" title="About us" class="navbar__item">About us</a>
            <a href="https://www.jobs.bg/company/301834" title="Apply now" class="navbar__item navbar__item-bordered">Apply now</a>
        </div>
        <button href="javascript:;" class="navbar__item menu-toggle--on"></button>
    </nav>
</header>