<header>
    <nav class="navbar">
        <div class="navbar__icon">
            <img src="../../assets/images/paper-plane.png" width="80px" height="80px" alt="paper-plane">
            <h1 class="navbar__icon-text">plane assisstance</h1>
        </div>
            <ul class="navbar__items-container">
                <li>
                    <a href="index.html" title="Home" class="navbar__item">Home</a>
                </li>
                <li>
                    <a href="contacts-page.html" title="Contacts" class="navbar__item">Contacts</a>
                </li>
                <li>
                    <a href="about-us.html" title="About us" class="navbar__item">About us</a>
                </li>
                <li>
                    <a href="application-page.html" title="Apply now" class="navbar__item navbar__item-bordered">Apply now</a>
                </li>
            </ul>
        <button href="javascript:;" class="navbar__item menu-toggle--on"></button>
    </nav>
</header>