<header>
    <nav class="navbar">
        <div class="navbar__icon">
            <img src="../../assets/images/paper-plane.png" width="80px" height="80px" alt="paper-plane">
            <h1 class="navbar__icon-text">plane assisstance</h1>
        </div>
            <ul class="navbar__items-container">
                <li>
                    <a href="/#home" title="Home" class="navbar__item option">Home</a>
                </li>
                <li>
                    <a href="/#services" title="About us" class="navbar__item option">Services</a>
                </li>
                <li>
                    <a href="/#contacts" title="Contacts" class="navbar__item option">Contacts</a>
                </li>
                <li>
                    <a href="/#apply" title="Apply now" class="navbar__item option navbar__item-bordered">Apply now</a>
                </li>
            </ul>
        <button href="javascript:;" class="navbar__item menu-toggle--on"></button>
    </nav>
</header>