<section class="home">
    <div class="home__text">
        <h2 class="home__title">Welcome to <br> Plane Assisstance</h2>
        Our company provides professional painters and PA (paint assistance) for Lufthansa Technik Sofia since 2009.
        Some of our crew members are working on projects of Lufthansa Technik Malta.
        <br><br>
        We employ over 60 highly qualified people, who are mainly trained in Bulgaria, Hungary, Romania and in Ireland to deliver a premium quality.
        <a class="home__about-link" href="about-us.html" title="About us">Learn more</a>
    </div>
    <img class="home__image" width="1920" height="1280" src="../../assets/images/plane-wing.jpg" alt="plane-wing">
</section>