<section class="home" id="home">
    <div class="home-text-container">
        <div>
            <h2 class="home-title">Welcome to <br> Plane Assisstance</h2>
            <p class="home-text">
                Our company has been providing professional painters and paint assistants (PAs)
                to Lufthansa Technik Sofia since 2009. Additionally, some of our crew members
                are involved in projects with Lufthansa Technik Malta. We have established
                partnerships with Aero Technic, Rose Air, and Plane Tech Solutions.
            </p>
            <a class="home-button" href="javascript:;" title="About us">Learn more</a>
        </div>
    </div>
    <div class="hidden-container">
        <img class="home-image" width="1920" height="1280" src="../../assets/images/plane-wing.jpg" alt="plane-wing">
        <div class="home-hidden-text">
            <p class="home-text">
                Our team comprises over 100 highly qualified individuals,
                who have received training primarily in Bulgaria, Hungary, Romania,
                and Ireland, enabling us to deliver premium quality services.
                <br><br>
                Currently, we are operating in ten different locations:
                Bratislava, Toulouse, Lelystad, Kaunas, Maastricht,
                Paris Le Bourget, Tallinn, Norwich, Malta, and Sofia.
            </p>
        </div>
    </div>
</section>