<section class="join-us">
    <div class="join-us__text-container">
        <h3 class="join-us__title">Join our team!</h3>
        <p class="join-us__text">
            We are always looking for new candidates! 
            Every position is open and requires no previous training at all.
            Simply send us your CV or fill in our short form.
        </p>
        <a class="join-us__link" href="application-page.html" title="Apply now">Apply now</a>
    </div>
    <img class="join-us__image" width="1920" height="1234" src="../../assets/images/plane-front.jpg" alt="plane-front">
</section>