<section class="services">
    <h2 class="services__title">Services</h2>
    <div class="services__menu-desktop">
        <button class="services__icon services__icon-active exterior"></button>
        <button class="services__icon interior"></button>
        <button class="services__icon repairs"></button>
    </div>
    <div class="services__menu">
        <button class="services__icon services__icon-active services__icon-mobile exterior"></button>
        <div class="services__text services__text-active services__text-exterior">
            <h3 class="services__subtitle">Exterior</h3>
            <p>
                Our crew can perform a complete aircraft exterior
                preparation, which can include stripping to bare metal or
                heavy sanding, resealing of all production joints,
                corrosion removal and treatment - complete aircraft repainting.
            </p>
        </div>
        <button class="services__icon services__icon-mobile interior"></button>
        <div class="services__text services__text-interior">
            <h3 class="services__subtitle">Interior decoration</h3>
            <p>
                Our staff members are not only experienced in exterior
                painting and design, but they could perform internal 
                refurbishing, painting and professional cleaning.
                <br><br>
                Our staff is specialized in performing maintenance
                checks on Boeing 737 CL, 737 NG and Airbus A320 
                family aircraft with up to 30 aircraft per year at all locations.
            </p>
        </div>
        <button class="services__icon services__icon-mobile repairs"></button>
        <div class="services__text services__text-repairs">
            <h3 class="services__subtitle">Interior repairs</h3>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, 
                sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
                Nam aliquam sem et tortor consequat. Non blandit massa enim nec dui nunc 
                mattis enim ut. Enim praesent elementum facilisis leo. Lectus proin 
                nibh nisl condimentum id. Varius duis at consectetur lorem donec massa. 
                Condimentum mattis pellentesque id nibh tortor id.
            </p>
        </div>
    </div>
</section>