<section class="services" id="services">
    <h2 class="services__title">Services</h2>
    <div class="services__buttons">
        <button class="services__icon services__icon-active exterior"></button>
        <button class="services__icon interior"></button>
        <button class="services__icon repairs"></button>
    </div>
    <div class="services__menu">
        <div class="services__text services__text-active services__text-exterior">
            <h3 class="services__subtitle">Exterior</h3>
            <p>
                Our crew can perform a complete aircraft exterior
                preparation, which can include stripping to bare metal or
                heavy sanding, resealing of all production joints,
                corrosion removal and treatment - complete aircraft repainting.
            </p>
        </div>
        <div class="services__text services__text-interior">
            <h3 class="services__subtitle">Interior decoration</h3>
            <p>
                Our staff members are not only experienced in exterior
                painting and design, but they could perform internal 
                refurbishing, painting and professional technical cleaning.
                <br><br>
                Our staff is specialized in performing maintenance
                checks on the Boeing family and Airbus 
                family aircrafts with up to 35 aircraft per year at all locations.
            </p>
        </div>
        <div class="services__text services__text-repairs">
            <h3 class="services__subtitle">Panel workshop</h3>
            <p>
                Repairs to the listed parts, but not limited to: <br>
                - Cockpit and cabin floor panels <br>
                - Dado panels <br>
                - Cabin sidewalls <br>
                - Door linings and surround panels <br>
                - Cabin ceiling panels <br>
                - Cove light panels <br>
                - AFT/FWD wet area floor panels <br>
                <br>
                WE also do damage evaluation and composite repairs
            </p>
        </div>
    </div>
</section>