// theme colors
$theme-color-primary: var(--cez-primary);
$theme-color-secondary: var(--cez-secondary);
$dark-theme-color: #1a1acc;
$light-theme-color: #09abf6;
$light-text-color: #fff;

// typography
$theme-font-base: 16px;

// properties
$border-radius-circle: 50%;