// theme colors
$extradark-theme-color: #0046be;
$dark-theme-color: #1c6efd;
$light-theme-color: #88d0f1;
$extralight-theme-color: #9ddffd;
$light-theme-color-half-opacity: #88d0f1b1;
$white: #fff;

// typography
$theme-font-size-mobile-navbar: 20px;
$theme-font-size-mobile: 18px;
$theme-font-size-mobile-title: 38px;
$theme-font-size-desktop: 24px;

$font-family-audiowide: audiowide;
@font-face {
    font-family: $font-family-audiowide;
    src: url('../assets/fonts/Audiowide-Regular.ttf');
}
$font-blazma: blazma;
@font-face {
        font-family: $font-blazma;
        src: url('../assets/fonts/Blazma-515KZ.ttf') format('truetype');
}
$font-blazma-italic: blazma-italic;
@font-face {
        font-family: $font-blazma-italic;
        src: url('../assets/fonts/BlazmaItalic-6Y52q.ttf') format('truetype');
}
$font-family-ubuntu: ubuntu;
@font-face {
    font-family: $font-family-ubuntu;
    src: url('../assets/fonts/Ubuntu-Medium.ttf');
}

// properties
$border-property-none: none;
$border-radius-circle: 50%;
$border-radius-just-edges: 5%;
$border-radius-minimal: 2%;

//other
$grid-breakpoints: (
        xs: 0,
        sm: 395px,
        md: 800px,
        lg: 1024px,
        xl: 1200px,
        xxl: 1920px
);